.search-btn {
  position        : fixed;
  right           : 50rpx;
  padding         : 10rpx;
  bottom          : constant(safe-area-inset-bottom);
  bottom          : env(safe-area-inset-bottom);
  margin-bottom   : 50rpx;
  background-color: #9aacbb;
  border-radius   : 50%;
  box-shadow      : 0 0 20rpx 0 #00000067;
}

.search-plan {
  position        : fixed;
  bottom          : 0;
  z-index         : 999;
  width           : calc(100% - 80rpx);
  padding         : 20rpx 40rpx;
  background-color: #272727;
  color           : #a5a5a5;
  overflow        : hidden;
  transition      : all .3s;
  transform       : translateY(100%);
  transform-origin: top;
  opacity         : 0;
  padding-bottom  : constant(safe-area-inset-bottom);
  padding-bottom  : env(safe-area-inset-bottom);

  &.show {
    opacity  : 1;
    transform: translateY(0);
  }
}

.search-mask {
  position        : fixed;
  left            : 0;
  top             : 0;
  height          : 100vh;
  width           : 100vw;
  background-color: rgba(0, 0, 0, 0.74);
  opacity         : 0;
  transition      : opacity .3s;
  transform       : scaleY(0);
  transform-origin: top;

  &.show {
    transform: scale(1);
    opacity  : 1;
  }
}

.icon-search {
  display: block;
}

.search-btn-submit {
  margin          : 20rpx;
  padding         : 10px 20px;
  background-color: #00000077;
  box-shadow      : 0 0 20rpx 0 rgba(28, 22, 61, 0.596);
  border-radius   : 6px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  color           : #a5a5a5;
}